/*
 * Container para testes, a posição deve ser relative
 */
.container {
  height: 100vh;
  position: relative;
  background: black;
}

.farol {
  position: absolute;
  height: 60px;
  width: 10px;
  border-radius: 5px;
  background: #ffffff;

  /* Código da animação */
  animation-name: rotaciona360; /* Animação utilizada, para mudar ponto inicial e final mude o nome */
  animation-duration: 5s; /* Tempo da animação ocorrer */
  animation-iteration-count: infinite; /* Animação ocorrerá infinitamente */
  animation-timing-function: linear; /* Animação sera gradual e linear, sem animações bruscas */

  /* Esse é o código de posicionamento do farol, podendo ser alterado diversas vezes ou sequer usado no código principal*/
  left: 0;
  top: 50px;
  right: 0;
  margin: 0 auto;
}

/*
 * Traço no meio da linha branca
 */
.farol::before {
  content: "";
  position: absolute;

  width: 30px;
  height: 10px;
  border-radius: 10px;
  background: #ffffff;

  top: 0;
  bottom: 0;
  left: -10px;
  margin: auto 0;
}

/*
  * Código referente a luz do Farol
  */
.farol::after {
  content: "";
  position: absolute;

  height: 300px;
  width: 800px;
  border-radius: 0 50px 50px 0;

  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto 0;

  background: linear-gradient(90deg, rgba(256, 256, 256, 0.5) 0%, transparent 100%);
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 60%);
}

/* Keyframe para gerar a animação, para novas animações copie esse código e modifique o nome */
@keyframes rotaciona360 {
  0% {
    transform: rotate(0deg); /* Onde começa */
  }
  100% {
    transform: rotate(360deg); /* Onde acaba, caso o valor inicial seja diferente de 0 adicione 360 ao valor final */
  }
}
