#container {
  height: 100vh;
  position: relative;
  background: rgba(66, 66, 66, 0.99);
}

#container.move-state {
  cursor: grab;
}

.farol {
  transform: rotate(-90deg);
  position: absolute;
  height: 30px;
  width: 4px;
  border-radius: 5px;
  background: #ffffff;

  /* Esse é o código de posicionamento do farol, podendo ser alterado diversas vezes ou sequer usado no código principal*/
  left: 0;
  top: 10px;
  right: 0;
  margin: 0 auto;
}

/*
* Traço no meio da linha branca
*/
.farol::before {
  content: "";
  position: absolute;

  width: 19px;
  height: 3px;
  border-radius: 10px;
  background: #ffffff;

  top: 0;
  bottom: 0;
  left: -8px;
  margin: auto 0;
}

/*
  * Código referente a luz do Farol
  */
.farol::after {
  content: "";
  position: absolute;

  height: 150px;
  width: 400px;
  border-radius: 0 40px 40px 0;

  left: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;

  background: linear-gradient(90deg, rgba(256, 256, 256, 0.3) 0%, transparent 100%);
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 60%);
}
